@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    display: flex;
    align-items: center;
    height: 61vh;
    margin: 4ch;
    background: rgb(8, 0, 109);
    background-image: url(pexels-andre-furtado-1162251.jpg);
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.card {
    background: rgba(0, 0, 0, 0.566);
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgba(121, 0, 0, 0.847);
}

h1.temperature {
    margin: 0;
    margin-bottom: 0.5em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid rgba(121, 0, 0, 0.829);
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: 100%;
    border: 1px solid rgb(0, 63, 9);
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 54px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 30px;
    border: 1px solid rgba(121, 0, 0, 0.847);
}

button:hover {
    background: #7c7c7c6b;
}

.flex {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.incoming {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.incoming:after {
    visibility: visible;
    color: white;
}

